
	<div class="session">

<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="signupfield">
  <%= f.text_field :username, :class => "signupusername", :placeholder => "Username" %>
</div>

<div class="signupfield">
  <%= f.email_field :email, :class => "signupusername", :placeholder => "Email" %>
</div>

<div class="signupfield">
  <%= f.password_field :password, :class => "signupusername", :placeholder => "Password" %>
</div>


	<div class="signupfield">
  <%= f.password_field :password_confirmation, :class => "signupusername", :placeholder => "Confirm Password" %>
	</div>

	<div class="signupbuttonfield">
 <%= f.submit "Sign up", :class => "signupbutton", :style => "width:100%" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
</div>

