<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="style">
	
<div class="addevent">
	Step 1. What do you want to do with your Cliq?	 <br><br> 
		<%= f.select 'verb', ['Create', 'Discuss', 'Go', 'Invent', 'Just', 'Launch', 'Meet', 'Play', 'Start', 'Study'] %> 
		<%= f.text_field :name, :placeholder => 'something amazing'  %> 
<br>
	Step 2. How many people can join your Cliq? <br><br>
		<%= f.select 'people', [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %> 

<br>	
	Step 3. Add tags that describe your Cliq:<br><br>
		<%= f.text_field :tag_list, :placeholder => "fun, creative, athletic", :style => "width:50%;" %>
<br>		
		 	<%= f.submit %>
</div>
</div>

	

	


<% end %>
