<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="style2">
	<div class="addevent">
		<b>
		Spark something by following 3 easy steps:
		</b>
<br><br><br>	
	

	What do you want to do?	 <br><br> 
		<%= f.select 'verb', ['Create', 'Discuss', 'Go', 'Invent', 'Just', 'Launch', 'Meet', 'Play', 'Start', 'Study'],{}, :class => "span2" %> 
		<%= f.text_field :name, :placeholder => 'something amazing'  %> 
<br>
	How many people would you like to invite? 
		&nbsp<%= f.select 'people', [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], {}, :class => "span1" %> 

<br><br>	
	Add tags that describe your Spark:<br><br>
		<%= f.text_field :tag_list, :placeholder => "fun, creative, athletic", :style => "width:50%;" %>
			<div class="neweventformbutton">
			<%= f.button :'Spark This!', :class => 'btn' %>	
			</div>
</div>	
</div>

	

	


<% end %>
