
	<div class="style3">
	<div class="mainbody">	
		
		<div class="searchindex">
		<form class="form-search">
		<%= search_form_for @search do |f| %>
		<div class="searchbarbackground">
		<div class="searchbar">
		<%= f.text_field :name_cont, :placeholder => "Search For Events", :class => "searchbar" %>
		<button type="submit" class="btn btn-large">Search</button>
			</div>
			</div>
	
		<%= form_tag events_path, :method => :get do %>
		<div class="searchbarbackground2">
		<div class="searchbar2">
		<%= text_field_tag :search, params[:search],:placeholder => "Brooklyn, NY or 11223", :class => "searchbar2" %>
	
		<button type="submit" class="btn btn-large">Near you</button>
			</div>
			</div>
		<% end %>
			<% end %>
		</form>
		</div>
		
		<div class="eventdatesort">
		Sort by: <%= sort_link @search, :created_at, "Date Added"%>
		</div>
		<div class="will_paginate">
		<%= will_paginate @events, :previous_label => 'Previous' %>
		</div>
		

		<div class="eventsindex">		
<% @events.order('created_at DESC').each do |event|%>
	<% if event.created_at >= 1.day.ago %>
	<div class="eventnewribbon">
		<%= "New"%>
	</div>
	<% end %>

	<% if event.memberships.count >= event.people %>
	<div class="eventfullribbon">
	<%= "Event is full" %>
	</div>
	<% end %>
	
<div class="indexpicborder"><%= link_to (image_tag event.user.avatar.url(:thumb)), event.user %></div>
<div class="eventsentence"> I am looking for <%= event.people %> people that want to </div><div class="verbforevent"><%= event.verb.downcase %></div><div class="nameofevent"><%= link_to event.name.downcase + ".", event %></div>
<div class="views">
<%= event.impressionist_count(:filter=>:session_hash)%>
<i class="icon-eye-open"></i> 
</div>	
		<div class="tags">
			<i class="icon-tags"></i>
			<% event.tags.each do |tag| %>
				<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>
			<% end %>
		</div>
<div class="line">
</div>
<% end %>

		</div>
	</div>
	</div>
