	<div class="style">
	<div class="mainbody">	
		<div class="eventsindex">

<% @events.reverse.each do |event|%>

<div class="eventsentence">I am looking for <%= event.people %> that want to </div><div class="verbforevent"><%= event.verb %></div><div class="nameofevent"><%= link_to event.name + ".", event %></div>

<div class="views">
<%= event.impressionist_count(:filter=>:session_hash)%>
<i class="icon-fire"></i> 
</div>
<br><br>

		<div class="tags">
			<% event.tags.each do |tag| %>
				<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>
			<% end %>
		</div>
		<hr>
<% end %>



		</div>
	</div>
</div>
