	<div class="style3">
	<div class="mainbody">	
		
	
		<div class="searchindex">
		<form class="form-search">
		<%= search_form_for @search do |f| %>
		<div class="searchbarbackground">
		<div class="searchbar">
		<%= f.text_field :name_cont, :placeholder => "Search For Events", :class => "searchbar" %>
		<button type="submit" class="searchbutton">Search</button>
		</div>
		</div>
	
		<%= form_tag events_path, :method => :get do %>
		<div class="searchbarbackground2">
		<div class="searchbar2">
		<%= text_field_tag :search, params[:search],:placeholder => "Search For Location", :class => "searchbar2" %>
	
		<button type="submit" class="searchbutton">Near you</button>
		</div>
		</div>
		<% end %>
			<% end %>
		</form>
		</div>
	
<div class="section2index">
		<div class="eventdatesort">
		Sort by: <%= sort_link @search, :when, "Starting Soon" %>
		</div>
	
		<div class="will_paginate">
		<%= will_paginate @events, :previous_label => 'Previous' %>
		</div>
</div>			

		<div class="eventsindex">		
<% @events.order('created_at DESC').each do |event|%>

	<div class="eventnewribbon">
		<%= time_ago_in_words(event.created_at).gsub('about','') %> ago
	</div>


	<% if event.memberships.count >= event.people %>
	<div class="eventfullribbon">
	<%= "QKMeet Full" %>
	</div>
	<% end %>
	
<div class="indexeventwrapper">	
<div class="indexpicborder"><%= link_to (image_tag event.user.avatar.url(:thumb)), event.user %></div>
<div class="eventsentence"> <%= event.user.username %> and <%= event.people %> people </div><div class="verbforevent"><%= event.verb %></div><div class="nameofevent"><%= event.name.downcase + "." %></div>

	<div class="datewrapper">
		<i class="icon-calendar"></i>
		<div class="date">
			
			<% if Date.today == event.when %>
			<%= "Today" %>
			<% else if Date.tomorrow == event.when %>
			<%= "Tomorrow" %>
			<% else %>
			<%= distance_of_time_in_words(event.when, Date.today, true) rescue nil%> ago
			<% end %>
			<% end %>
			

		</div>
	</div>
	
	<div class="locationwrapper">
	<i class="icon-map-marker"></i>
	<div class="location">
	<%= event.location %>
	</div>
	
	</div>
	<div class="tagswrapper">
		<i class="icon-tags"></i>
		<% event.tags.each do |tag| %>
		<div class="tags">
			<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>
		</div>
		<% end %>
	</div>	

<div class="views">
<%= event.impressionist_count(:filter=>:session_hash) %>
<i class="icon-eye-open"></i> 
</div>	

<div class="details">	
<%= link_to "More..", event %>
</div>
</div>

<div class="line">
</div>	

<% end %>
		</div>
		
<!#-------------------------------------START OF RIGHT SIDEBAR-----------------------------------%>		
<div class="rightside">					
	
		<!#------------------------------Joined Event Notice START---------------------%>		
			<% @event.memberships.first(@event.people).each do |membership| %><br> 
			<% if membership.user_id == current_user.id %>
				<div class="eventnotice">
					joined event
				</div>
			<% end %>
			<% end %>
		<!#------------------------------Joined Event Notice END-----------------------%>	
			
<!#-------------------------------------START_COMMENT_SECTION------------------------------------%>		
		
				<% @event.comments.reverse.each do |comment| %>
					<%= link_to image_tag(comment.user.avatar.url(:thumb)), comment.user  %><br><br>
						<%= comment.user.username %> 
							(<%= time_ago_in_words(comment.created_at) %> ago) 
						<%= comment.body %><br>
				<% end %>

				<%= form_for ([@event, @event.comments.build]) do |f| %>
				<%= f.text_area :body, :placeholder => "Add comment..", :rows => 3, :style => "width:250px" %><br>
				<%= f.button :'Post', :class => 'btn' %>	
				<% end %>	
<!#------------------------------------END OF_COMMENT_SECTION------------------------------------%>	
		</div>
		
	</div>
	</div>		





<!#### START EVENT_SHOWBODY_LEFT ###### %>

				<div class="tags">
					<% @event.tags.any? %>
					<% @event.tags.each do |tag| %>
					<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>	
					<% end %>
				</div>	
			
			
		
					<% if @event.user_id != current_user.id %>
				<button class="btn btn-large btn-success">
					<%= link_to "Join", join_event_path(@event) %> 
				</button>
		
				<button class="btn btn-large btn-danger">
					<%= link_to "Leave", unjoin_event_path(@event) %>	
				</button>
					<% end %>
	
				<div class="eventdate">
				<i class="icon-calendar"></i>
				</div>
				<div class="bestinplaceeventshowdate">
					<% if can? :update, @event %>
					<%= best_in_place @event, :when, :type => :date, :nil => "Edit Date" %> <i class="icon-edit"></i>
					<% end %> 
					<% if cannot? :update, @event %>
					<% if @event.when == nil %>
					<%= "No set date"%>
					<% else %>
					<%= @event.when %>
					<% end %>
					<% end %>
				</div>
	
	&nbsp

				<div class="eventlocationicon">
					<i class="icon-map-marker"></i>
				</div>
				<div class="bestinplaceeventshowlocation">
			<% if can? :update, @event %>
			<%= best_in_place @event, :location, :nil => "Add Location" %> <i class="icon-edit"></i>
			<% end %>
			<% if cannot? :update, @event %>
			<%= @event.location %> 
			<% end %>
			<div class="milesaway">
				<% if %>
				<% @event.distance_from([current_user.latitude,current_user.longitude]) == nil %>
				<%= "no location to calculate distance" %>
				<% else %>
				(<%= pluralize(@event.distance_from([current_user.latitude,current_user.longitude]).round(0),"mile") %> away)
				<% end %>
			</div>
			
	&nbsp		
			<div class="eventmembersicon">
			<i class="icon-user"></i>
			</div>
				<%= @event.user.username %>
		</div>	
		
	&nbsp
			<% if @event.memberships.first(@event.people).count == 1  %>
		 <div class="eventmembersicon2">
		+ <i class="icon-user"></i>
		 </div>
		<% end %>
		<% if @event.memberships.first(@event.people).count == 2 %>
		<div class="eventmembersicon2">
		+ <i class="icon-user"></i><i class="icon-user"></i>
		</div>
		<% end %>
		<% if @event.memberships.first(@event.people).count == 3 %>
		<div class="eventmembersicon2">
		+ <i class="icon-user"></i><i class="icon-user"></i><i class="icon-user"></i>
		</div>
		<% end %>
		<% if @event.memberships.first(@event.people).count == 4 %>
		<div class="eventmembersicon2">
		+ <i class="icon-user"></i><i class="icon-user"></i><i class="icon-user"></i><i class="icon-user"></i>
		</div>
		<% end %>
		<hr>
		
			<div class="descriptionsection">
			<i class="icon-pencil"></i>
			<div class="bestinplaceeventshow">
				<% if can? :update, @event %>
				<%= best_in_place @event, :description, :type => :textarea, :nil => "Add Description" %> <i class="icon-edit"></i>
				<% end %>
				<% if cannot? :update, @event %>
				<div class="eventdescription">
				<% if @event.description == nil %> 
				<%= "No description added"%>
				<% else %>
				<%= @event.description%>
				<% end %>	
				<% end %>
				</div>
			</div>
			</div>
<br>
<br>
				<%= link_to image_tag(@event.user.avatar.url(:thumb)), @event.user %>
				<% @event.memberships.first(@event.people).each do |membership| %>
				<%= link_to image_tag(membership.user.avatar.url(:thumb)), membership.user %>
				<% end %>
