

<div class="styleeventsshow">
	<br><br>
	<div class="eventsentence">
	<center>
		<br>
				<%= @event.user.username %> is looking for 
				<%= @event.people %> that want to 
		<div class="verbforevent">
				<%= @event.verb %>
		</div>
		<div class="nameofevent">
				<%= @event.name + "." %>
		</div>
		<div class="views">
		&nbsp<%= @event.impressionist_count(:filter=>:session_hash)%> <i class="icon-eye-open"></i> 
		</div>
	</center>	
	</div>	



<div class="eventshowbody">	

	<div class="tags2">
		<% @event.tags.any? %>
		<% @event.tags.each do |tag| %>
		<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>	
		<% end %>
	</div>
		
	<br>	
	<div class="eventsshowleft">
		More information about this event:
		<hr>
		When will this happen?
		<br>
		<%= best_in_place @event, :when %>
		<br><br>
		Where will it happen?
		<br><br>
		How?
		<div class="showpicborder">
	<%= image_tag @event.user.avatar.url(:medium) %>
		</div>
	</div>
	
	<div class="eventsshowright">
	
	</div>
		
	<div class="eventsshowright2">	
		
	</div>

</div>

</div>
	