<div class="styleeventsshow">
	<br>
		<div class="youhavejoinedthisevent">
		<% @event.memberships.first(@event.people).each do |membership| %><br> 
		<% if %>
		<% membership.user_id == current_user.id %>
		<i class="icon-ok-circle"> joined event</i>
		<% end %><br>
		<% end %>
		</div>
		
		<div class="youownthisevent">
			<% if @event.user.id == current_user.id %>
			<i class="icon-pencil"> your event</i>
			<% end %>
		</div>	
		
	<div class="eventsentence">

	<center>
		<br>
				<%= @event.user.username %> is looking for 
				<%= @event.people %> people that want to
		<div class="verbforevent">
				<%= @event.verb.downcase %>
		</div>
		<div class="nameofevent">
				<%= @event.name.downcase + "." %>
		</div>
		<div class="views">
		&nbsp<%= @event.impressionist_count(:filter=>:session_hash)%> <i class="icon-eye-open"></i> 
		</div>
	</center>	
	</div>	

<div class="eventshowbody">	

	<div class="tags2">
		<% @event.tags.any? %>
		<% @event.tags.each do |tag| %>
		<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>	
		<% end %>
	</div>	
		
	<br>	
	<div class="eventheaderleft">
			<%= pluralize(@event.memberships.first(@event.people).count, "member") %> joined 
			<%= pluralize(@event.people.to_i - @event.memberships.count.to_i, "spot") %> remaining
	<div class="eventheaderright">	
		<% if @event.user_id != current_user.id %>
		<button class="btn btn-success">
		<%= link_to "Join", join_event_path(@event) %> 
		</button>
		<button class="btn btn-danger">
			<%= link_to "Leave", unjoin_event_path(@event) %>	
		</button>
		<% end %>

	</div>	
		
		<hr>
		<div class="eventdate">
		<i class="icon-calendar"></i>
		</div>
		<div class="bestinplaceeventshow">
		<% if can? :update, @event %>
		<%= best_in_place @event, :when, :type => :date, :nil => "Edit Date" %> <i class="icon-edit"></i>
		<% end %> 
		<% if cannot? :update, @event %>
		<%= @event.when.strftime('%B %e, %Y') rescue nil %>
		<% end %> 
		</div>
		<br><br>
	

		<div class="eventlocation">
		<i class="icon-map-marker"></i>
		</div>
		<div class="bestinplaceeventshow">
			<% if can? :update, @event %>
			<%= best_in_place @event, :location, :nil => "Add Location" %> <i class="icon-edit"></i>
			<% end %>
			<% if cannot? :update, @event %>
			<%= @event.location %> 
			<% end %>
			<div class="milesaway">
			(<%= pluralize(@event.distance_from([current_user.latitude,current_user.longitude]).round(0),"mile")%> away)
			</div>
		</div>	
		<br><br>
		
			<div class="eventdescription">
			<i class="icon-align-left"></i>
			</div>
			<div class="bestinplaceeventshow">
				<% if can? :update, @event %>
				<%= best_in_place @event, :description, :type => :textarea, :nil => "Add Description" %> <i class="icon-edit"></i>
				<% end %>
				<% if cannot? :update, @event %>
				<%= @event.description %> 
				<% end %>
			</div>	
			<br><br>
			

			

			
		<div class="members">
			<%= link_to image_tag(@event.user.avatar.url(:thumb)), @event.user %>
			<br><br>
			
			<% if @event.memberships.count > 0 %> 
			<div class="iconplus">
			<center>
			<i class="icon-plus"></i>
			</center>
			</div>
			<% end %>
			
			<% @event.memberships.first(@event.people).each do |membership| %>
			<br>
			<%= link_to image_tag(membership.user.avatar.url(:thumb)), membership.user %>
			<% end %>
		</div>	

	</div>

<div class="commentsection">
	<% @event.comments.reverse.each do |comment| %>
	<div class="commentsusername">
	<%= link_to image_tag(comment.user.avatar.url(:thumb)), comment.user %>
	<%= comment.user.username %>:
	</div>
	<div class="commentsbody">
	<%= comment.body %>
	</div>
	<hr>
	<br>
	<br>
	<% end %>
</div>	

	<%= form_for ([@event, @event.comments.build]) do |f| %>
	<%= f.text_area :body, :placeholder => "Add comment..", :rows => 5, :style => "width:80%" %>
  		<div class="right">
	<%= f.button :'Add Comment', :class => 'btn' %>	
  		</div>  
	<% end %>
	


</div>

</div>
	