

<div class="styleeventsshow">
	<br>
	<div class="eventsentence">
		<center>
		<div class="youhavejoinedthisevent">
		<% @event.memberships.first(@event.people).each do |membership| %><br> 
		<% if %>
		<% membership.user_id == current_user.id %>
		<%= "You have joined this event." %> 
		<% end %><br>
		<% end %>
		</div>
		</center>
		
	<center>
		<br>
				<%= @event.user.username %> is looking for 
				<%= @event.people %> people that want to 
		<div class="verbforevent">
				<%= @event.verb.downcase %>
		</div>
		<div class="nameofevent">
				<%= @event.name.downcase + "." %>
		</div>
		<div class="views">
		&nbsp<%= @event.impressionist_count(:filter=>:session_hash)%> <i class="icon-eye-open"></i> 
		</div>
	</center>	
	</div>	

<div class="eventshowbody">	

	<div class="tags2">
		<% @event.tags.any? %>
		<% @event.tags.each do |tag| %>
		<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>	
		<% end %>
	</div>	
	
	<div class="numofmembers">
		<%= pluralize(@event.memberships.first(@event.people).count, "member") %> joined, 
		<%= pluralize(@event.people.to_i - @event.memberships.count.to_i, "spot") %> remaining
	</div>
	

		
	<br>	
	<div class="eventheaderleft">
		More information about this event:
	<div class="eventheaderright">	
		<% if @event.user_id != current_user.id %>
		<button class="btn btn-success">
		<%= link_to "Join", join_event_path(@event) %> 
		</button>
		<button class="btn btn-danger">
			<%= link_to "Leave", unjoin_event_path(@event) %>	
		</button>
		<% end %>


	</div>	
		
		<hr>
		Date
		<div class="bestinplaceeventshow">
		<% if can? :update, @event %>
		<%= best_in_place @event, :when, :nil => "click to edit" %>
		<% end %> 
		<% if cannot? :update, @event %>
		<%= @event.when %>
		<% end %> 
		</div>
		<br><br>	
		Location
		<br><br>
		
		<div class="members">
		Members:
		<br>
			<%= link_to image_tag(@event.user.avatar.url(:thumb)), @event.user %>
			<% @event.memberships.first(@event.people).each do |membership| %><br> 
			<%= link_to image_tag(membership.user.avatar.url(:thumb)), membership.user %>
			<% end %>
		</div>	

	</div>
	

	<div class="eventsshowright">
	
	</div>
		
	<div class="eventsshowright2">	
		
	</div>

</div>

</div>
	