

<div class="styleeventsshow">
	<br><br>
	<div class="eventsentence">
	<center>
		<br>
				<%= @event.user.username %> is looking for 
				<%= @event.people %> that want to 
		<div class="verbforevent">
				<%= @event.verb.downcase %>
		</div>
		<div class="nameofevent">
				<%= @event.name.downcase + "." %>
		</div>
		<div class="views">
		&nbsp<%= @event.impressionist_count(:filter=>:session_hash)%> <i class="icon-eye-open"></i> 
		</div>
	</center>	
	</div>	





<div class="eventshowbody">	

	<div class="tags2">
		<% @event.tags.any? %>
		<% @event.tags.each do |tag| %>
		<%= link_to "#" + tag.name, tagged_url(:tag => tag.name) %>	
		<% end %>
	</div>
		
	<br>	
	<div class="eventsshowleft">
		More information about this event:
		<hr>
		Date
		<div class="bestinplaceeventshow">
		<% if can? :update, @event %>
		<%= best_in_place @event, :when, :nil => "click to edit" %>
		<% end %> 
		<% if cannot? :update, @event %>
		<%= @event.when %>
		<% end %> 
		</div>
		<br><br>	
		Location
		<br><br>
		<%= @event.memberships.count %> Members:<br>
		
		<% @event.memberships.each do |membership| %><br> 
		<%= membership.user.username	%>
	
		<% end %>
		<%= link_to "Join this group", join_event_path(@event) %>
		
		<div class="showpicborder">
	<%= image_tag @event.user.avatar.url(:thumb) %>
		</div>
	</div>
	

	<div class="eventsshowright">
	
	</div>
		
	<div class="eventsshowright2">	
		
	</div>

</div>

</div>
	