<!DOCTYPE html>
<html>
<head>
  <title>QK Meet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div id="wrapper">	

	<div id="header">
	
	<div class="navbar">
		<div class="navmenu">
			<%= link_to 'Home', root_path %> |
		<% if user_signed_in? %>
		 <i class="icon-user"></i> <strong><%= current_user.username %></strong>
		  <%= link_to 'Profile', edit_user_registration_path %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %> |
		  <%= link_to "Sign in", new_user_session_path %>
		<% end %>
			<p id="notice"><%= notice %></p>
		</div>
	</div>
		<div class="newtitle">
	QK
		</div>
		<div class="newtitle2">
	<%= link_to 'Meet', new_event_path %>
		</div>
		
	</div>
		
		<div id="body">
<%= yield %>
		</div>
		
</div>		

		<div id="footer">	
		test
		</div>

		
</body>
</html>
